<div class="filters">
	<p>Sort By:</p>
	<%= link_to "Title", movies_path(:filter => "title"), class: "filter btn-info btn-sm" %> 
	<%= link_to "Release Date", movies_path(:filter => "release_date"), class: "filter btn-info btn-sm" %> 
	<%= link_to "Genre", movies_path(:filter => "genre"), class: "filter btn-info btn-sm" %>
</div>

<hr>

<div class="row">
	<% @movies.each do |movie| %>
		<div class="container">
			<div style="display:inline-block">
				<a href="/movies/<%= movie.id %>">
					<img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/<%= movie.image %>">	
				</a>
			</div>

			<div style="display:inline-block" >
				<%= movie.title %>
				<div class="average-review-rating" data-score=<%= @average_review%>></div>
				<span class="number-of-reviews">Based on <%= movie.reviews.count %> reviews</span>
			</div>
		</div>
		
	<% end %>
		
</div>

<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>